<% if(tweets[0]){%>
<% tweets.forEach((tweet) => { %>
<li class="tweet-card">
  <div class="tweet-content">
    <div class="tweet-header">
      <span class="fullname">
        <strong><a href="/search?username=<%=tweet.username%>" style="color:black;" class="j"><%=tweet.userHead%></a></strong>
      </span>
      <span class="username">@<%=tweet.username%></span>
      <span class="tweet-time">- <%=tweet.date%> <%=tweet.time%></span>

    </div>
    <a>
      <img class="tweet-card-avatar" src="https://pbs.twimg.com/profile_images/679974972278849537/bzzb-6H4_bigger.jpg" alt="">
    </a>
    <div class="tweet-text">
      <p class="" lang="es" data-aria-label-part="0"> <%=tweet.content%>
        <a href="" class="twitter-hashtag" dir="ltr"></a>
      </p>
    </div>
    <div class="tweet-footer">
      <a class="tweet-footer-btn">
      <%  var like = (tweet.likes).find((lt) => { %>
         
        <%  return lt == mine; %>
      <%  }); %>

      <%  if(like){ %>
          <form class="" action="/unlike/<%=tweet._id%>" method="post">
            <button type="submit" class="btn btn-outline-light">
              <i class="octicon octicon-heart"></i> <span><%=tweet.likes.length%></span>
            </button>
          </form>
      <%  }else{ %>
          <form class="" action="/like/<%=tweet._id%>" method="post">
            <button type="submit" class="btn btn-outline-light">
              <i class="octicon octicon-heart"></i> <span><%=tweet.likes.length%></span>
            </button>
          </form>
      <%  } %>
      </a>
    </div>
  </div>
</li>


<%})%>
<%}else{ %>

<li class="tweet-card">
  <div class="tweet-content">
    <div class="tweet-text">
      <p class="" lang="es" data-aria-label-part="0">
      <h4 style="text-align:center">No tweets found!</h4>
    </div>
  </div>
</li>
<% }%>
