<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title><%=user.name%> | Bitter</title>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css'>
  <link rel="stylesheet" href="/css/user.css">
</head>

<body>
  <%- include("partials/navbar") %>
  <div class="main-container">
    <!-- Profile background large image -->
    <div class="row profile-background">
      <div class="container">
        <!-- User main avatar -->
        <div class="avatar-container">
          <div class="avatar">

          </div>
        </div>
      </div>
    </div>
      <%- include("partials/profilestats") %>
    <div class="container main-content">
      <div class="row">
        <div class="col profile-col">
          <!-- Left column -->
          <div class="profile-header">
            <!-- Header information -->
            <h3 class="profile-fullname"><a><%=user.name%><a></h3>
            <h2 class="profile-element"><a>@<%=user.username%></a></h2>
            <a class="profile-element profile-website" hrerf=""><i class="octicon octicon-mail"></i>&nbsp;<%=user.email%></a>
            <a class="profile-element profile-website" hrerf=""><i class="octicon octicon-location"></i>&nbsp;<%=user.place%></a>
            <form class="" action="/" method="post">
              <button class="btn btn-search-bar tweet-to-btn" type="submit" name="button" value="<%=user.id%>">Tweet</button>
            </form>

          </div>
        </div>
        <!-- End; Left column -->
        <!-- Center content column -->
        <div class="col-6">
          <ol class="tweet-list">
          <%- include("partials/tweetbox") %>
          <%- include("partials/tweetcards") %>
          <ol>
        </div>
        <!-- End: Center content column -->
        <div class="col right-col">
          <div class="content-panel">
            <div class="panel-header">
              <h4>Following</h4>
            </div>
            <!-- Who to Follow panel -->
            <div class="panel-content">
              <!--Follow list -->
              <ol class="tweet-list">
                <li class="tweet-card">
                  <div class="tweet-content">
                    <img class="tweet-card-avatar" src="https://pbs.twimg.com/profile_images/679974972278849537/bzzb-6H4_bigger.jpg" alt="">
                    <div class="tweet-header">
                      <span class="fullname">
                        <strong>Jon Vadillo</strong>
                      </span>
                      <span class="username">@JonVadillo</span>
                    </div>

                    <button class="btn btn-follow">Follow</button>
                  </div>
                </li>
              </ol>
              <!--END: Follow list -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src='https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>


</body>

</html>
