<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title><%=user.name%> | Bitter</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css'>
  <link rel="stylesheet" href="/css/user.css">
</head>

<body>
  <%- include("partials/navbar") %>
  <div class="main-container">
    <!-- Profile background large image -->
    <div class="row profile-background">
      <div class="container">
        <!-- User main avatar -->
        <div class="avatar-container">
          <div class="avatar">

          </div>
        </div>
      </div>
    </div>
      <%- include("partials/profilestats") %>
    <div class="container main-content">
      <div class="row">
        <div class="col profile-col">
          <!-- Left column -->
          <div class="profile-header">
            <!-- Header information -->
            <h3 class="profile-fullname"><a><%=user.name%><a></h3>
            <h2 class="profile-element"><a>@<%=user.username%></a></h2>
            <a class="profile-element profile-website" hrerf=""><i class="octicon octicon-mail"></i>&nbsp;<%=user.email%></a>
            <a class="profile-element profile-website" hrerf=""><i class="octicon octicon-location"></i>&nbsp;<%=user.place%></a>
            <form class="" action="/" method="post">
              <button class="btn btn-search-bar tweet-to-btn" type="submit" name="button" value="<%=user.id%>">Tweet</button>
            </form>

          </div>
        </div>
        <!-- End; Left column -->
        <!-- Center content column -->
        <div class="col-6">
          <ol class="tweet-list">
          <%- include("partials/tweetbox") %>
          <% if(tweets[0]){%>
          <% tweets.forEach((tweet) => { %>
          <li class="tweet-card">
            <div class="tweet-content">
              <div class="tweet-header">
                <span class="fullname">
                  <strong><a href="/search?username=<%=tweet.username%>" style="color:black;" class="j"><%=tweet.userHead%></a></strong>
                </span>
                <span class="username">@<%=tweet.username%></span>
                <span class="tweet-time">- <%=tweet.date%> <%=tweet.time%></span>

              </div>
              <a>
                <img class="tweet-card-avatar" src="https://pbs.twimg.com/profile_images/679974972278849537/bzzb-6H4_bigger.jpg" alt="">
              </a>
              <div class="tweet-text">
                <p class="" lang="es" data-aria-label-part="0"> <%=tweet.content%>
                  <a href="" class="twitter-hashtag" dir="ltr"></a>
                </p>
              </div>
              <div class="tweet-footer">
                <a class="tweet-footer-btn">
                  <form class="" action="/tweet/update/<%=tweet._id%>" method="get">
                    <button type="submit" name="button">Update</button>
                  </form>
                </a>
                <a class="tweet-footer-btn">
                <%  var like = (tweet.likes).find((lt) => { %>

                  <%  return lt == mine; %>
                <%  }); %>

                <%  if(like){ %>
                    <form class="" action="/unlike/<%=tweet._id%>" method="post">
                      <button type="submit" class="btn btn-outline-light">
                        <i class="octicon octicon-heart"></i> <span><%=tweet.likes.length%></span>
                      </button>
                    </form>
                <%  }else{ %>
                    <form class="" action="/like/<%=tweet._id%>" method="post">
                      <button type="submit" class="btn btn-outline-light">
                        <i class="octicon octicon-heart"></i> <span><%=tweet.likes.length%></span>
                      </button>
                    </form>
                <%  } %>
                </a>
              </div>
            </div>
          </li>


          <%})%>
          <%}else{ %>

          <li class="tweet-card">
            <div class="tweet-content">
              <div class="tweet-text">
                <p class="" lang="es" data-aria-label-part="0">
                <h4 style="text-align:center">No tweets found!</h4>
              </div>
            </div>
          </li>
          <% }%>

          <ol>
        </div>
        <!-- End: Center content column -->
        <div class="col right-col">
          <div class="content-panel">
            <div class="panel-header">
              <h4>Following</h4>
            </div>
            <!-- Who to Follow panel -->
            <div class="panel-content">
              <!--Follow list -->
              <ol class="tweet-list">
                <li class="tweet-card">
                  <div class="tweet-content">
                    <img class="tweet-card-avatar" src="" alt="">
                    <div class="tweet-header">
                      <span class="fullname">
                        <strong>Jon Vadillo</strong>
                      </span>
                      <span class="username">@JonVadillo</span>
                    </div>

                    <button class="btn btn-follow">Follow</button>
                  </div>
                </li>
              </ol>
              <!--END: Follow list -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src='https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>


</body>

</html>
