<%- include('partials/header') %>

<div class="">
  <form class="" action="/search" method="post">
    <input type="text" name="username" value="">
    <button type="submit" name="button">Search</button>
  </form>
</div>

  <% if(user.id){ %>
    <h1><%=user.name%></h1>
    <p><%=user.email%></p>
  <%}%>

  <form class="" action="/follow" method="post">
    <button type="submit" name="button" value="<%=user.id%>">Follow</button>
  </form>



  <%  tweet.forEach(function(cont){ %>
      <hr>
      <div class="">
        <p><%=cont%></p>
      </div>
      <hr>
  <%  }); %>







<%- include('partials/footer') %>
